.card {
    border-radius: .5rem;
    background-color: var(--card-background);
    padding: 0 0 1.5rem;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}

.card__flag {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.card__name {
    margin-top: 1rem;
}

.card__name,
.card__info {
    padding: 0 2rem;
    color: var(--card-text);
}

.card__info {
    font-weight: 400;
    margin-top: .5rem;
    margin-bottom: 0;
}

.card--bold {
    font-weight: 600;
}

@media only screen and (min-width: 800px) {
    .card {
        min-width: 200px;
    }
}