.home {
    min-height: calc(100vh - 90px);
    background-color: var(--home-background);
    padding: 2rem 1rem;
} 

/* Display 1 card at width < 600 */

.home__cards-container {
    padding: 2rem 0;
    display: grid;
    gap: 3rem;
}

.home__spinner {
    margin: 1rem auto 0;
    position: absolute;
    left: 50%;
}

.home__card-link {
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    .home {
        padding: 2rem;
    }

    /* Display 2 cards at width >= 600 */

    .home__cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1000px) {
    .home {
        padding: 4rem;
    }

    /* Display 3 cards at width >= 1000 */
    .home__cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1400px) {
    .home {
        padding: 4rem 6rem;
    }

    /* Display 4 cards at width >= 1400*/
    .home__cards-container {
        grid-template-columns: repeat(4, 1fr);
    }
}