/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

:root {
	--dark-blue: hsl(209, 23%, 22%);
	--very-dark-blue: hsl(207, 26%, 17%);
	--very-dark-blue2: hsl(200, 15%, 8%);
	--dark-grey: hsl(0, 0%, 52%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);

	--header-background: var(--white);
	--header-text: black;
	--home-background: var(--very-light-gray);
	--search-background: var(--white);
	--search-text: black;
	--search-placeholder: #757575;
	--card-text: black;
	--card-background: var(--white);
	--details-btn: var(--white);
	--details-text: black;
	--details-background: var(--very-light-gray);
}

.dark-mode {
	--header-background: var(--dark-blue);
	--header-text: white;
	--home-background: var(--very-dark-blue);
	--search-background: var(--dark-blue);
	--search-text: white;
	--search-placeholder: white;
	--card-text: white;
	--card-background: var(--dark-blue);
	--details-btn: var(--very-dark-blue);
	--details-text: var(--white);
	--details-background: var(--very-dark-blue);
}

body {
	box-sizing: border-box;
	font-family: "Nunito Sans";
	margin: 0;
}
